.App {
  font-family: sans-serif;
  text-align: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .login-signup-modal {
    padding: 30px;
    height: 500px;
    width: 400px;
  }
}

.photo-upload-dropzone {
  height: 100%;
  width: 100%;
  flex: 1;
}

.photo-upload-card {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
